<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{{ head.title }}}</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/error404.css">
</head>
<body class="errorScreen">
    <div class="message">
        <img src="/assets/img/ui/404.png">
        <p class="title">{{{ 404.title }}}</p>
    </div>
</body>
</html>
